.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    height: 75vh!important;
    box-shadow: 0px 0px 20px 1px #dfdede !important;
    border-radius: 33px !important;
    align-items: center !important;
    margin: auto !important;
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 20px !important;
    margin-left: 5px !important;
    margin-right: 5px !important; 
}

/* .MuiPaper-elevation1{

    width: 75vw !important;
    display: flex !important;
    flex-direction: row !important;
    margin: auto !important;
    justify-content: space-evenly !important;
    flex-wrap: wrap !important;
} */

/*.card-systems-container{
    background-color: black !important;
} */
.img{
    width: 85% !important;
}
.card{
    width: 40vw !important;
    display: flex !important;
    flex-direction: row !important;
    /* margin: auto !important; */
    justify-content: space-evenly !important;
    flex-wrap: wrap !important;
}

/* .css-1ri6ub7-MuiPaper-root-MuiCard-root{
    height: 316px !important;
    width: 225px !important;
    box-shadow: 0px 0px 20px 1px #dfdede !important;
    border-radius: 33px !important;
    align-items: center !important;
    margin: auto !important;
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 20px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
} */

.card-systems-container{
    width: 71vw !important;
    display: flex !important;
    flex-direction: row !important;
    margin: auto !important;
    justify-content: space-evenly !important;
    flex-wrap: wrap !important;
}